* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
    overflow: hidden;
    min-height: 100vh;
    /* background: radial-gradient(#6cd0ff, #315fdd); */
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1;
}

/* 
 * Fade in effect class
*/
.fade {
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#starting-soon {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    animation: 1s ease-in-out infinite alternate-reverse pulse-scale;
    pointer-events: none;
}

#starting-soon-text {
    transition: opacity 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        margin-bottom 800ms ease-in-out;
}

@keyframes pulse-scale {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

#ready-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.blob-div {
    position: absolute;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100vh;
    transition: width 2s;
}

.blob-div:nth-child(2) {
    filter: blur(50px);
}

.blob {
    position: absolute;
    animation: 1s ease-in-out infinite alternate pulse;
    z-index: 2;
}

@keyframes pulse {
    from {
        width: 80%;
    }

    to {
        width: 100%;
    }
}

#clickable-blob {
    cursor: pointer;
    z-index: 3;
}

#background-gradient {
    position: absolute;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(#6cd0ff, #315fdd);
    z-index: -1;
    transition: opacity 1.2s linear;
    opacity: 1;
}