/* body {
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 150ms linear;
} */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html, body {
    overscroll-behavior-y: none;
}
