* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
    overflow: hidden;
    background: radial-gradient(#6cd0ff, #315fdd);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#starting-soon {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.3rem;
    color: white;
    font-weight: bold;

    animation: 1s ease-in-out infinite alternate-reverse pulse-text;

    pointer-events: none;
}

@keyframes pulse-text {
    from {
        transform:scale(1.05);
    }

    to {
        transform:scale(1);
    }
}

#ready-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.blob-div {
    position: absolute;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    max-width: 100%;
}

.blob-div:nth-child(2) {
    filter: blur(30px);
}

.blob {
    position: absolute;
    animation: 1s ease-in-out infinite alternate pulse;
}

@keyframes pulse {
    from {width: 80%;}
    to {width: 100%;}
}

#clickable-blob {
    cursor: pointer;
    z-index: 1;
}
