body {
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#gesture-area {
    background: lightblue;
    height: 300px;
}
